/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
./node_modules/*
/node_modules/*
/node_modules
/public/bower_components*
/.idea/
/log.txt
/.project
/npm-debug.log
/package-lock.json

/.idea/*

/public/tree/*
/package-lock.json
/npm-debug.log
/public/reports/*


