{% extends './base.twig' %}
{% block styles %}
<style>
    .wrapper{
        background: none !important;
    }
</style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2" id="outcoldiv1" style="background:  #f0eeee; height: 100px;border-right:#d7d7d7;border-right-style:dashed;border-right-width: 1px">
            </div>


            <div class="col-sm-8" id="outcoldiv2" style="background: #f0eeee ">
                <div  id="midrow1" style="height: 10px"></div>


                <div class="row" id="midrow2" style="border-bottom:#d7d7d7;border-bottom-style: dashed;border-bottom-width:1px">

                    <div class="form-group col-sm-4" style="padding: 5px;margin-left: 10px">

                    </div>

                    <div class="form-group col-sm-4 " style="padding: 10px">
                        <label>Change:</label>
                    </div>


                    <div class="form-group col-sm-2 " style="padding: 5px">

                    </div>


                    <div class="form-group col-sm-1" style="padding: 5px">
                        <button type="button" class="btn btn-success" id="btnNextOrder">Next Order</button>
                    </div>


                </div>






                {#Inside Column Structure#}
                <div class="row" >


                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3" id="incoldiv1" style="background: #f0eeee;height: 200px !important;
                             border-right:#d7d7d7; border-right-style:dashed;border-right-width: 1px">

                            </div>



                            <div class="col-sm-6" id= "incoldiv2">

                                <div class="row" >
                                    <div class="form-group col-sm-4"></div>

                                    <div class="form-group col-sm-4" style="padding: 10px">
                                        <button type="button" class="btn btn-lg">Print Receipt</button>

                                    </div>

                                    <div class="form-group col-sm-4"></div>

                                </div>

                                <div class="wrapper" style="background:lightblue">

                                    <div style="background: white;border: #dcdcdc;border-width:1px">

                                        <div class="row" style="padding: 10px">


                                            <div class="form-group col-sm-4">
                                              <label>Date</label>
                                            </div>

                                            <div class="form-group col-sm-4">
                                                <label>Time</label>
                                            </div>

                                            <div class="form-group col-sm-4">
                                                <label>Order Ref</label>
                                            </div>




                                        </div>


                                        <div class="row" style="padding-left: 10px">
                                            <div class="form-group col-sm-6">
                                                <label>XYZ Company</label>
                                            </div>

                                            <div class="form-group col-sm-6">
                                                <label>Piliyandala Branch</label>
                                            </div>



                                        </div>


                                        <div class="row" style="padding-left: 10px">
                                            <div class="form-group col-sm-6">
                                                <label>Address:</label>
                                            </div>

                                            <div class="form-group col-sm-6">
                                                <label>Horans road,Piliyandala</label>
                                            </div>



                                        </div>

                                        <div class="row" style="padding-left: 10px">
                                            <div class="form-group col-sm-6">
                                                <label>Phone No:</label>
                                            </div>

                                            <div class="form-group col-sm-6">
                                                <label>011-xxxxxxx</label>
                                            </div>



                                        </div>

                                        <div class="row" style="padding-left: 10px">
                                            <div class="form-group col-sm-6">
                                                <label>User:</label>
                                            </div>

                                            <div class="form-group col-sm-6">
                                                <label>Shashika</label>
                                            </div>



                                        </div>

                                        <div class="row" style="height: 20px"></div>






                                    </div>


                                </div>





                            </div>














                            <div class="col-sm-3" id="incoldiv3" style="background:#f0eeee;height: 200px;border-left:#d7d7d7; border-left-style:dashed;border-left-width: 1px">

                            </div>
                        </div>
                    </div>


                </div>













            </div>

            <div class="col-sm-2" id="outcoldiv3" style="background:#f0eeee; height: 100px; border-left:#d7d7d7;border-left-style:dashed;border-left-width: 1px">

            </div>
        </div>
    </div>
{% endblock %}
{% block onloadJS %}
    <script type="text/javascript" src="/controller/Pos/posPrintBillController.js"></script>
{% endblock %}