<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Page Title</title>
</head>
<body>

<label id =ans>0</label>
<button id="one" class="num">1</button>

<button id="two" class="num">2</button>

<button id="dot" data-val="." class="num">.</button>
<script type="text/javascript" src="/controller/Pos/postest.js"></script>

</body>
</html>

