<div id="loade" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 10px;background: transparent">
            <div class="modal-body" style="top:50px">
                <div class="row" style="text-align: center">
                    <div class="overlay" style="display: inline">
                        <i style="font-size: 2000%;color: #f7f4f4;" class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>